@using System.Web.UI.WebControls
@model Cars.Web.Models.CarSearchModel
@{
    ViewBag.Title = "ListResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class ="items-container">
    <h3><span>Мечтани автомобили</span> </h3>

    <div style="margin: 30px;">
        @{
            var grid = new WebGrid(
                canPage: true,
                canSort: true,
                ajaxUpdateContainerId: "grid");

            grid.Bind(Model.Cars, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);

            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                fillEmptyRows: false,
                tableStyle: "table table-bordered table-hover",
                mode: WebGridPagerModes.All,
                columns: grid.Columns(
                    grid.Column("Brand", "Марка", style: "col-md-2"),
                    grid.Column("Year", "Година", style: "col-md-2"),
                    grid.Column("Power", header: "Мощност",style: "text-right", format: @<text>@String.Format(item.Power+" PS") </text>),
                    grid.Column("Shipper.Name", "Вносител", style: "col-md-3 text-center"),                   
                    grid.Column("Description", "Описание", style: "col-md-3 desc")
                    ))
        }
    </div>
    @Html.Hidden("hiddensearchString", (string)ViewBag.searchString)
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            var textToHighligt = '@ViewData["searchString"]';
            var searchString = $("#searchString").val();
            $.fn.highlight = function (str, className) {
                var regex = new RegExp(str, "gi");
                return this.each(function () {
                    this.innerHTML = this.innerHTML.replace(regex, function (matched) {
                        return "<span class=\"" + className + "\">" + matched + "</span>";
                    });
                });
            };
            $(".desc").highlight(textToHighligt, "highlight");
        })
    </script>
}